<!DOCTYPE html>
<html lang="zh-CN">
 <head>
     {% load static %}
     <meta charset="utf-8">
     {% load bootstrap3 %}
     {% bootstrap_css %}
     {% bootstrap_javascript %}
     <title>MMplayer</title>
     <script src="{%  static 'js/index.js' %}"></script>
 </head>
<body>
{#<div class="container">#}
{#导航栏#}
   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MMplayer</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          {% block navitem %}
        <li class="active"><a href ={% url 'index' %}>我的音乐<span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'formatChange' %}">格式转换</a></li>
{#        <li><a href="{% url 'findMusic' %}">发现音乐 </a></li>#}
          {% endblock %}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

</nav>
<div class="row">
{% block main %}

{% endblock %}
</div>
{#####################底部栏########################}
   <div class="row panel-footer" style="height: 50px; width:100%">MMplayer by 邓睿君 郭恒其</>
{#</div>#}
 </body>
</html>

{#############################播放条#######################################}
{#<div class = "row m-player-bar">#}
{#    <nav class="navbar navbar-inverse navbar-fixed-bottom">#}
{#         <div class="container" >#}
{##}
{#            <div class="col-md-3" style = "float:left">#}
{#          <button type="button" class="btn btn-default navbar-btn" onclick="previousMedia()">#}
{#              <span aria-label="previous song" class="glyphicon glyphicon-step-backward" aria-hidden="true"> </span>#}
{#          </button>#}
{#          <button type="button" class="btn btn-default navbar-btn" onclick="fastreverse()">#}
{#              <span aria-label="previous song" class="glyphicon glyphicon-backward" aria-hidden="true"> </span>#}
{#          </button>#}
{#          <button id = "playbutton" type="button" class="btn btn-default navbar-btn" onclick="play()" style="display: inline">#}
{#              <span aria-label="play" class="glyphicon glyphicon-play" aria-hidden="true"> </span>#}
{#          </button>#}
{#          <button id = "stopbutton" type="button" class="btn btn-default navbar-btn" onclick="stop()" style="display: none">#}
{#              <span aria-label="stop" class="glyphicon glyphicon-stop" aria-hidden="true"> </span>#}
{#          </button>#}
{#          <button type="button" class="btn btn-default navbar-btn" onclick="fastforward()">#}
{#              <span aria-label="next song" class="glyphicon glyphicon-forward" aria-hidden="true"> </span>#}
{#          </button>#}
{#          <button type="button" class="btn btn-default navbar-btn" onclick="nextMedia()">#}
{#              <span aria-label="previous song" class="glyphicon glyphicon-step-forward" aria-hidden="true"> </span>#}
{#          </button>#}
{#            </div>#}
{##}
{#        <div class="col-md-7"  style="padding:0px">#}
{#             <div class="progress" style="margin:12px 10px 0px 10px">#}
{#          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">#}
{#            <span class="sr-only">45% Complete</span>#}
{#          </div>#}
{#          </div>#}
{#            </div>#}
{#        <div class="col-md-2" style = "float:left">#}
{#        <button type="button" class="btn btn-default navbar-btn">#}
{#          <span aria-label="previous song" class="glyphicon glyphicon-heart" aria-hidden="true"> </span>#}
{#        </button>#}
{#        </div>#}
{##}
{#         </div>#}
{#</nav>#}
{#</div>#}